{{#if template}}
<template>
  <div></div>
</template>
{{/if}}

{{#if script}}
<script>
  export default {
    name: '{{ properCase name }}',
    components: {},
    props: {},
    data() {
      return {};
    },
    methods: {},
    created() { },
    mounted() { }
  }
</script>
{{/if}}

{{#if style}}
<style lang="less" scoped>
</style>
{{/if}}